
<nav>

        <ul>
                <li>
                        <a data-ui-sref="MatchedState" title="Matched Groups"><i class="glyphicon glyphicon-user"></i> <span class="menu-item-parent">Completed</span></a>

                </li>
        </ul>
        <ul>
                <li>
                    <a data-ui-sref="UnmatchedState" title="Unmatched Users"><i class="glyphicon glyphicon-user"></i> <span class="menu-item-parent">Unmatched</span></a>

                </li>
        </ul>
        <ul>
                <li>
                    <a  data-ui-sref="partiallymatched"  title="Partially Matched Groups"><i class="glyphicon glyphicon-user"></i> <span class="menu-item-parent">Incomplete</span></a>

                </li>
        </ul>
        <ul>
                <li >
                    <a  data-ui-sref="Users"  title="Users"><i class="glyphicon glyphicon-user"></i> <span class="menu-item-parent">Manage Users</span></a>

                </li>
        </ul>
        <ul>
                <li>
                    <a  data-ui-sref="Restaurants"  title="Restaurants"><i class="glyphicon glyphicon-cutlery"></i> <span class="menu-item-parent">Manage Restaurants</span></a>

                </li>
        </ul>
        <ul>
                <li>
                        <a data-ui-sref="Logout" title="Logout"><i class="glyphicon glyphicon-off"></i> <span class="menu-item-parent">Logout</span></a>

                </li>
        </ul>
</nav>
<span class="minifyme" data-action="minifyMenu" data-minify-menu> 
        <i class="fa fa-arrow-circle-left hit"></i> 
</span>
