<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> E-commerce <span>&gt;
                    Products View </span></h1>
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->

        <div class="row" id="contentContainer">
            
            <!-- a blank row to get started -->
<!--            <div class="col-sm-6 col-lg-4">

                 your contents here 
                <div class="panel panel-default">
                    <div class="panel-body status">
                        									<div class="who clearfix">
                                                                                                        <img src="img/avatars/5.png" alt="img" class="online">
                                                                                                        <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                                                                        <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Randamoozham</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book.png" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-heart-o"></i> Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Buy</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body status">
                                                <div class="who clearfix">
                                                    <img src="img/avatars/5.png" alt="img" class="online">
                                                    <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                    <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Shadow and Bone</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book1.jpg" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-heart-o"></i> Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Buy</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="col-sm-6 col-lg-4">

                 your contents here 
                <div class="panel panel-default">
                    <div class="panel-body status">
                        									<div class="who clearfix">
                                                                                                        <img src="img/avatars/5.png" alt="img" class="online">
                                                                                                        <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                                                                        <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Bird Box</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book3.jpg" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-heart-o"></i> Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Buy</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body status">
                                                <div class="who clearfix">
                                                    <img src="img/avatars/5.png" alt="img" class="online">
                                                    <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                    <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                </div>
                                                <div class="image"><img src="img/realestate/6.png" alt="img">
                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Bird Box</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book3.jpg" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-heart-o"></i> Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Buy</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="col-sm-6 col-lg-4">

                 your contents here 
                <div class="panel panel-default">
                    <div class="panel-body status">
                                                <div class="who clearfix">
                                                    <img src="img/avatars/5.png" alt="img" class="online">
                                                    <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                    <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                </div>
                                                <div class="image"><img src="img/realestate/6.png" alt="img">
                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Randamoozham</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book.png" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-thumbs-o-up"></i> Like</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-comment-o"></i> Comment</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Share</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body status">
                                                <div class="who clearfix">
                                                    <img src="img/avatars/5.png" alt="img" class="online">
                                                    <span class="name"><b>Karrigan Mean</b> shared a photo</span>
                                                    <span class="from"><b>1 days ago</b> via Mobile, Sydney, Australia</span>
                                                </div>
                                                <div class="image"><img src="img/realestate/6.png" alt="img">
                                                </div>
                        <div class="who clearfix">
                            <h1 class="center-block">Shadow and Bone</h1>
                        </div>
                        									<div class="image"><img src="img/realestate/6.png" alt="img">
                        <div class="image"><img src="img/realestate/book1.jpg" alt="img">
                        </div>
                        <ul class="links">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-thumbs-o-up"></i> Like</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-comment-o"></i> Comment</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Share</a>
                            </li>
                        </ul>
                        <ul class="comments">
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <span class="name">John Doe</span>
                                Looks like a nice house, when did you get it? Are we having the party there next week? ;)
                            </li>
                            <li>
                                <img src="img/avatars/2.png" alt="img" class="online">
                                <span class="name">Alice Wonder</span>
                                Seems cool.
                            </li>
                            <li>
                                <img src="img/avatars/sunny.png" alt="img" class="online">
                                <input type="text" class="form-control" placeholder="Post your comment...">
                            </li>
                        </ul>
                    </div>
                </div>



            </div>-->





        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<div class="col-sm-6 col-md-6 col-lg-4"><div class="product-content product-wrap clearfix"><div class="row"><div class="col-md-5 col-sm-12 col-xs-12"><div class="product-image"> <img src="img/demo/e-comm/7.png" alt="194x228" class="img-responsive"> <span class="tag2 sale">Sale</span> </div></div><div class="col-md-7 col-sm-12 col-xs-12"><div class="product-deatil"><h5 class="name"><a href="javascript:void(0)" ng-click="getProduct()">Product Name Title Here <span>Category</span></a></h5><p class="price-container"><span>$99</span></p><span class="tag1"></span> </div><div class="description"><p>Proin in ullamcorper lorem. Maecenas eu ipsum </p></div></div></div></div></div>	
<!--<div id="tabs"><ul><li><a href="#tabs-a">First</a></li><li><a href="#tabs-b">Second</a></li><li><a href="#tabs-c">Third</a></li></ul><div id="tabs-a"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div id="tabs-b"><p>Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</p></div><div id="tabs-c"><p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</p></div></div>-->